.MainHead{
display: flex;
justify-content: space-between;

border-bottom: 2px solid rgba(163, 163, 163, 0.61);

margin: 0 auto;
align-items: center;
height: 100px;
}
.Tsar{
    font-size: 20px;
    font-weight: 900;
    font-family:   'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Headbar{
    font-weight: 800;
     display: flex;
list-style: none;
gap: 30px;
     flex-direction: row;
 
}
li:hover{
    cursor: pointer;
}